<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="wrapper">
    <div class="content">
        <div class="header"><h1>Restablecer Contraseña 🔒</h1></div>
        <div class="body">
            <p>Hola, <span th:text="${username}">Usuario</span>.</p>
            <p>Hemos recibido una solicitud para cambiar tu contraseña.</p>
            <p>Haz clic en el botón para crear una nueva:</p>

            <div class="btn-container">
                <a th:href="${link}" class="btn" style="background-color: #e74c3c;">CAMBIAR CONTRASEÑA</a>
            </div>

            <p>Este enlace expirará en 30 minutos.</p>
        </div>
    </div>
</div>
</body>
</html>